@use "vars" as *;
@use "mixins" as *;



.footer1{
    background-color: $secondary-color;
    color: $white;
    font: $headings-font;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    margin: 10px 0;
    height: 100%;
  
  @media (min-width: $desktop) {
    padding: 10px 20px;
    margin: 20px 0;
    height: 100%;
    }
    
    @media (max-width: $tablet-small) {
        padding: 15px; // Adjust padding for tablet size
    
        a {
          margin-top: 8px; // Adjust margin for smaller screens
        }
      }
      
    }

